body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.header-left {
  margin-right: auto;
}

.section-one {
  display: flex;
}

.section-one-left {
  max-width: 50%;
  height: 200px;
}

img {
  height: 200px;
}

.section-one-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
