body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 15px;
}

.header-left {
  margin-right: auto;
}

.section-one {
  display: flex;
}

.section-one-left {
  max-width: 50%;
}
