body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

header {
  display: flex;
  gap: 15px;
  margin-bottom: 80px;
  padding-top: 20px;
}

.header-left {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.header-right,
.sec-one-paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

.sec-one {
  display: flex;
}

.sec-one-left {
  padding-right: 100px;
}

.sec-one-right {
  margin-left: auto;
}

.sec-one-image {
  max-height: 10vh;
}

.sec-one-button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border-radius: 0.5rem;
  border-style: none;
}

.cont-one {
  padding-right: 10%;
  padding-left: 10%;
  max-width: 100vw;
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 36px;
  font-weight: 800px;
  color: #1f2937;
  text-align: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.sec-two-image {
  width: 15vw;
  height: 12vh;
  border: solid 7px #3882f6;
  border-radius: 0.5rem;
}
